* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background: linear-gradient(to right, #4d84f5, #d6c0e7);
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.c-player {
    display: block;
    background: linear-gradient(to right, #0d5caf, #121f50);
    display: block;
    margin: 0px auto;
    padding: 50px 0;
    width: 420px;
    border-radius: 16px;
    box-shadow: inset -2px -2px 20px rgb(0 0 0 / 35%), inset 0px 0px 1px rgb(255 255 255 / 40%);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .c-player {
        width: 100%;
        height: 100vh;
        border-radius: 0%;
    }
}

.c-player > h4 {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.c-player > p {
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.c-player > p span {
    font-weight: 400;
}

.c-player--details .details-img {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    max-width: 100%;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.c-player--details .details-img:hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
    border: none;
}

.c-player--details .details-img img {
    display: block;
    margin: 50px auto;
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    /* box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6px -6px 12px rgba(255, 255, 255, 0.4); */
    transition: all .5s ease-in-out;
}


.reload img {
    animation: spin 12s linear infinite;
}

@keyframes spin {
    100% {transform: rotate(360deg);}
}

.c-player--details .details-img:after {
    content: '';
    display: block;
    position: absolute;
    top: -25px;
    left: -25px;
    right: -25px;
    bottom: -25px;
    border-radius: 50%;
}

.c-player--details .details-title {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
}

.c-player--details .details-artist {
    color: #d9d9d9;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 400;
}

.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.c-player--controls .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    outline: none;
    border: 2px solid #FFF;
    background-color: transparent;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
    transition: .3s ease;
}

.c-player--controls .play-btn:hover {
    border: 2px solid #3ab4ff;
    color: #3ab4ff;
}

.c-player--controls .skip-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    width: 35px;
    height: 35px;
    transition: .3s ease;
    border-radius: 50%;
}

.c-player--controls .skip-btn:hover {
    background-color: #546d99;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.music-modal, .mask-bg {
    position: fixed;
    z-index: 1097;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.music-modal .mask-bg {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
} 

.music-modal .wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
    overflow-y: visible;
    z-index: 2;
}
.music-modal .wrapper .modal-content {
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    width: 700px;
    border-radius: 5px;
    padding: 30px;
    margin: auto;
    transform: translate(0, 100px) scale(1);
    pointer-events: all;
    /* color: white; */
    font-weight: 600;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
    .music-modal .wrapper .modal-content {
        width: 317px;
    }
}

.music-modal .wrapper .modal-content .title {
    text-align: center;
}

.music-modal .wrapper .modal-content .body {
    margin-top: 20px;
    text-align: center;
}

.btn-summit {
    cursor: pointer;
    background-color: #dc2763;
    border: 1px solid #dc2763;
    color: #ffffff;
    text-align: center;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 0%), -4px -4px 10px rgb(255 255 255 / 15%), inset -4px -4px 10px rgb(0 0 0 / 40%), inset 4px 4px 10px rgb(255 255 255 / 40%);
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator::before {
    background-color: #3ab4ff !important;
}

.tr--list-song {
    margin-top: 20px;
}

.tr--list-song .content .curent-song {
    background-color: hsla(0,0%,100%,0.1);
    width: 385px;
    border-radius: 3px;
    padding: 10px;
    color: #FFF;
    font-size: 15px;
}

.tr--list-song .content .curent-song .song {
    margin-bottom: 5px;
    display: flex;
}

.tr--list-song .content .curent-song .song .text {
    width: 25%;
}

.tr--list-song .content {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    color: #FFF;
}

.tr--list-song .content .suggest-songs .details-content {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    border-radius: 3px;
    transition: .2s ease;
}
.tr--list-song .content .suggest-songs {
    max-height: 275px;
    overflow-y: auto;
}
.tr--list-song .content .suggest-songs .active {
    background-color: hsla(0,0%,100%,0.1);
}

.tr--list-song .content .suggest-songs .details-content .img-play {
    position: relative;
    width: 40px;
    height: 40px;
}

.tr--list-song .content .suggest-songs .details-content .play-btn {
    position: absolute;
    top: 25%;
    left: 25%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
    transition: .3s ease;
}
.tr--list-song .content .suggest-songs .details-content:hover {
    background-color: hsla(0,0%,100%,0.1);
}

.tr--list-song .content .suggest-songs .details-content img {
    width: 35px;
    height: 35px;
    border-radius: 3px;
}

.tr--list-song .content .suggest-songs .details-content .name-song {
    margin-left: 10px;
}

.tr--list-song .content .suggest-songs .details-content .name-song .singer {
    color: var(--text-secondary);
}

.tr--lyric {
    color: #FFF;
    word-break: break-word;
    padding: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: justify;
    max-height: 400px;
    overflow: hidden auto;
}

/* width */
::-webkit-scrollbar {
width: 6px;
height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0d5caf;
    height: 30px; 
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}